<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5 justify-content-center">
     <h3 class="text-center pt-5">Thêm mới nhân viên</h3>
     <form action="/add" method="post">
         <label for="ID">ID</label>
         <input type="text" name="ID" class="form-control">

         <label for="FullName">Tên</label>
         <input type="text" name="FullName" class="form-control">

         <label for="Age">Tuổi</label>
          <input type="text" name="Age" class="form-control">

          <label for="Address">Địa Chỉ</label>
          <input type="text" name="Address" class="form-control">

          <label for="Email">Email</label>
           <input type="email" name="Email" class="form-control">
        
           <label for="StartDate">Ngày Vào Làm</label>

            <input type="date" name="StartDate" class="form-control">

         <label for="ContractDocument">hợp đồng lao động</label>
         <input type="text" name="ContractDocument" class="form-control">

         <input type="submit" value="Thêm mới" class="btn btn-dark mt-3"> <br>
         <a href="/listnv" >Quay lại?</a>
     </form>
    </div>
  </body>
</html>
