<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .form-container {
            margin-top: 50px;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 form-container">
                <h2 class="text-center">Register</h2>
                <form action="/register" method="post">              
                    <div class="form-group">
                        <label for="FullName">Name:</label>
                        <input type="text" class="form-control" id="FullName" name="FullName" required>
                    </div>
                    <div class="form-group">
                        <label for="Age">Age:</label>
                        <input type="number" class="form-control" id="Age" name="Age" required>
                    </div>
                    <div class="form-group">
                        <label for="Address">Address:</label>
                        <input type="text" class="form-control" id="Address" name="Address" required>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email:</label>
                        <input type="email" class="form-control" id="Email" name="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password:</label>
                        <input type="password" class="form-control" id="Password" name="Password" required>
                    </div>                 
                    <button type="submit" class="btn btn-primary btn-block">Register</button><br>
                    <center><a href="/">LogIn</a></center>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
